[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pytz = "*"
boto3 = "*"
python-dotenv = "*"

[dev-packages]
pylint = "*"
flake8 = "*"
autopep8 = "*"

[requires]
python_version = "3.7"
